@rendermode InteractiveServer

<div class="appBar">
    <div style="align-content: center;">
        <MudIconButton Icon="@Icons.Material.Filled.Dashboard" Size="Size.Large" Style="color: #edf6f9; margin-left: 0.35em;" OnClick="GoToDashboard"></MudIconButton>
        <MudText Style="color: #edf6f9;">Dashboard</MudText>
    </div>
    <div style="align-content: center;">
        <MudIconButton Icon="@Icons.Material.Filled.MenuBook" Size="Size.Large" Style="color: #edf6f9; margin-left: 0.25em;" OnClick="GoToDiary"></MudIconButton>
        <MudText Style="color: #edf6f9;">Tagebuch</MudText>
    </div>
    
    <div style="align-content: center;">
        <MudIconButton Icon="@Icons.Material.Filled.MoreHoriz" Size="Size.Large" Style="color: #edf6f9; margin-left: -0.5em;" OnClick="GoToMore"></MudIconButton>
        <MudText Style="color: #edf6f9;">Mehr</MudText>
    </div>
</div>
